@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

#home {
  padding: 40px;
  padding-bottom: 150px;
  @media (min-width:650px) {
    padding-left: 15%;
    padding-right: 15%;
  }

  background: repeating-linear-gradient(
    45deg,
    rgba($primary, 0.02),
    rgba($primary, 0.02) 50px,
    rgba($primary, 0.04) 50px,
    rgba($primary, 0.04) 100px
  );
  @media (prefers-color-scheme: dark) {
    background-color: $dark;
  }

  .section-heading {
    text-align: left;
    padding-top: 0;
    color: $dark;
    @media (prefers-color-scheme: dark) {
      color: white;
    }
  }
  p {
    color: $dark;
    @media (prefers-color-scheme: dark) {
      color: white;
    }
    font-size: 1.25em;
  }

  .img-circle {
    border: 15px solid rgba($primary, 0.5);
    box-shadow:
      0 0 0 50px mix($primary, white, 2%),
      0 0 0 100px mix($primary, white, 4%),
      0 0 0 150px mix($primary, white, 2),
      0 0 0 200px mix($primary, white, 4%),
      ;
    position: relative;
    @media (prefers-color-scheme: dark) {
      border: 15px solid $primary;
      box-shadow:
        0 0 0 50px mix($primary, $dark, 2%),
        0 0 0 100px mix($primary, $dark, 4%),
        0 0 0 150px mix($primary, $dark, 2),
        0 0 0 200px mix($primary, $dark, 4%),
        ;
    }
  }

}

#links{
  .section-heading {
    font-size: 2em;
  }
  a {
    font-size: 1.15em;
  }

  @media (prefers-color-scheme: dark) {
    color: darken(white, 20%);
  }
  font-size: 1.25em;
}
