{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en" >
<link rel="stylesheet" href="{{ get_url(path='themes') | safe }}/purple.css">
<head>
  <meta charset="utf-8" />
  <meta name="referrer" content="no-referrer">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

  {% block title -%}
  {% if config.extra.subtitle %}
  <title>{{ config.title }} | {{ config.extra.subtitle }}</title>
  {% else %}
  <title>{{ config.title }}</title>
  {% endif %}
  <meta property="og:title" content="{{ config.title }}" />
  <meta name="twitter:title" content="{{ config.title }}" />
  {%- endblock title %}

  {% block description -%}
  {% if config.description -%}
  <meta name="description" content="{{ config.description }}">
  <meta property="og:description" content="{{ config.description }}">
  <meta name="twitter:description" content="{{ config.description | truncate(length=200) }}">
  {%- endif %}
  {%- endblock description %}

  {% block meta -%}
  <meta property="og:site_name" content="{{ config.title }}" />
  <meta property="og:url" content="{{ config.base_url }}" />
  {%- endblock meta %}

  {% block css -%}
  <link
      rel="preload"
      href="https://fonts.cdnfonts.com/css/linux-libertine-o"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
  />
  <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
  />
  <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
  />
  <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
      <link
          href="https://fonts.cdnfonts.com/css/linux-libertine-o"
          rel="stylesheet"
          type="text/css"
      />
      <link
          href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
          rel="stylesheet"
          type="text/css"
      />
      <link
          href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik&display=swap"
          rel="stylesheet"
          type="text/css"
      />
      <link
          href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap"
          rel="stylesheet"
          type="text/css"
      />
  </noscript>

  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  {%- endblock css %}

  <script type="text/javascript">
  let fetchStyle = function() {
        const themes = ['amber', 'blue', 'deeppurple', 'green', 'indigo', 'lightblue', 'pink', 'purple', 'red', 'teal'];
    const theme = "{{ get_url(path='themes') | safe }}/" + themes[Math.floor(Math.random() * themes.length)] + ".css";

    let link = document.createElement('link');
    link.type = 'text/css';
    link.rel = 'stylesheet';
    link.onload = function() {
      document.documentElement.setAttribute("style", "display:auto");
     };
    link.href = theme;

    let headScript = document.querySelector('script');
    headScript.parentNode.insertBefore(link, headScript);
  }
  fetchStyle()
  </script>

  <link rel='icon' type='image/x-icon' href="{{ get_url(path="favicon.ico") }}" />

  {% if config.generate_feed -%}
  <link rel="alternate" type="application/atom+xml" title="{{ config.title }}" href="{{ get_url(path="atom.xml") }}">
  {%- endif %}

  {% block extra_head -%}
  {%- endblock extra_head %}

</head>
<body>
  {% block header -%}
  <header class="header">
    <h1 class="title-link"><a href="{{ config.base_url }}">{{ config.title }}</a></h1>
    <div class="header-links">
      <a href="https://twitter.com/kipperrii">twitter</a>,
      <a href="mailto:email@kipp.ly">email </a>
    </div>
  </header>

  {%- endblock header %}

  <main id="main" class="main">
    {% block content -%}
    <div class="row">
      <div class="col">
        <h1 class="section-title">favourites</h1>
          {% set section = get_section(path="endorsed/_index.md") %}
          {% for page in section.pages %}
            <article class="c-article p-list-article">
              {{ macros::title(page=page) }}
            </article>
          {% endfor %}
        <h1 class="section-title">second favourites</h1>
          {% set section = get_section(path="promoted/_index.md") %}
          {% for page in section.pages %}
            <article class="c-article p-list-article">
              {{ macros::title(page=page) }}
            </article>
            {% endfor %}
      </div>
      <div class="col">
        <h1 class="section-title">chronological</h1>
        {% set is_first_page = true %}
        {% if paginator is defined %}
            {% set pages = paginator.pages %}
            {% set is_first_page = paginator.current_index == 1 %}
        {% elif section is defined %}
            {% set pages = section.pages %}
        {% endif %}
        {% for page in pages %}
          <article class="c-article p-list-article">
            {{ macros::title(page=page, next=pages.next) }}
          </article>
        {% endfor %}
      </div>
    </div>
    {%- endblock content %}
  </main>
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "1afaa6bb0295489fa7a15cd4b46fe09c"}'></script><!-- End Cloudflare Web Analytics -->
</body>
</html>

