{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block title -%}
<title>{{page.title}} | {{config.title}}</title>
<meta property="og:title" content="{{page.title}} | {{config.title}}" />
<meta name="twitter:title" content="{{page.title}} | {{config.title}}" />
{%- endblock title %}

{% block content %}
{% set font_class = "" %}
{% if page.extra.font_class %}
    {% set font_class = page.extra.font_class %}
{%- endif %}
{% if page.extra.katex %}
  {% block js %}
    {% if config.extra.katex_enable %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">

    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/mathtex-script-type.min.js" integrity="sha384-zWYbd0NBwgTsgIdFKVprSfTh1mbMPe5Hz1X3yY4Sd1h/K1cQoUe36OGwAGz/PcDy" crossorigin="anonymous"></script>
        {% if config.extra.katex_auto_render %}
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/auto-render.min.js" integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe" crossorigin="anonymous"
            onload="renderMathInElement(document.body);"></script>
        {% endif %}
    {% endif %}
  {% endblock js %}
{%- endif %}
<header class="{{ font_class }}">
  <h1>{{ page.title }}</h1>
  <div>
    <div class="article-meta">
      <time datetime="{{ page.date | date(format="%F") | safe }}">
        {{ page.date | date(format="%F") }}
      </time>
      {% if page.extra.author -%}
      by {{ page.extra.author}}
      {%- endif %}
      ({{ page.reading_time }} min read)
    </div>
  </div>
</header>
<article class="article {{ font_class }}">
  <div class="page-body">
    <!-- {% set font_class = '' %} -->
    <section id="js-article" class="article-body">
      {{ macros::polish(content=page.content) }}
    </section>
  </div>
</article>
{% if page.extra.show_toc %}
<div class="sidebar {{ font_class }}">
  <ul class="sidebar-ul">
  {% for h1 in page.toc %}
      <li>
          <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
          {% if h1.children %}
              <ul>
                  {% for h2 in h1.children %}
                      <li>
                          <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                      </li>
                  {% endfor %}
              </ul>
          {% endif %}
      </li>
  {% endfor %}
  </ul>
</div>
{% endif %}

<footer>
  <hr>
    <h1 class="title-link"><a href="{{ config.base_url }}">{{ config.title }}</a></h1>
    <div class="header-links">
      <a href="https://twitter.com/kipperrii">twitter</a>,
      <a href="mailto:email@kipp.ly">email </a>
    </div>
</footer>

{%- endblock content %}
