{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block title -%}
<title>{{page.title}} | {{config.title}}</title>
<meta property="og:title" content="{{page.title}} | {{config.title}}" />
<meta name="twitter:title" content="{{page.title}} | {{config.title}}" />
{%- endblock title %}

{% block content %}
<header>
  <h1>{{ page.title }}</h1>
  <div>
    <div class="article-meta">
      <time datetime="{{ page.date | date(format="%F") | safe }}">
        {{ page.date | date(format="%F") }}
      </time>
      {% if page.extra.author -%}
      by {{ page.extra.author}}
      {%- endif %}
      ({{ page.reading_time }} min read)
    </div>
  </div>
</header>
<article class="article">
  <div class="page-body">
    <section id="js-article" class="article-body">
      {{ macros::polish(content=page.content) }}
    </section>
  </div>
  {% if page.extra.show_toc %}
  <div class="sidebar">
    <ul class="sidebar-ul">
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
</article>
<footer>
  <div class="social-icons">
    ---
    <br/>
    Thanks for reading <3
    <br/>
    I'm generally open to being contacted, find/contact me via:
    <a class="icon-link" href="https://twitter.com/kipperrii">
      <i class="fab fa-twitter"></i>
    </a>
    <a class="icon-link" href="https://github.com/kipply">
      <i class="fab fa-github"></i>
    </a>
    <a class="icon-link" href="https://www.instagram.com/kipperrii/">
      <i class="fab fa-instagram"></i>
    </a>
    <a class="icon-link" href="mailto:hello@carolchen.me">
      <i class="fas fa-envelope"></i>
    </a>
  </div>
</footer>

{%- endblock content %}
